
 <div class="row my-auto">
    <div class="col-sm-4  bg-secondary text-white " >
         
              <h1 align="center"> Silver</h1>
               <ul class="list-group  bg-secondary text-white">
  <li class="list-group-item  bg-secondary text-white">Cras justo odio</li>
  <li class="list-group-item  bg-secondary text-white">Dapibus ac facilisis in</li>
  <li class="list-group-item  bg-secondary text-white">Morbi leo risus</li>
  <li class="list-group-item  bg-secondary text-white">Porta ac consectetur ac</li>
  <li class="list-group-item  bg-secondary text-white">Vestibulum at eros</li>
    <li class="list-group-item bg-secondary text-white text-center"><a id = "silver" class="btn btn-success buyTokens" href="#" role="button">Buy</a></li>
</ul>
       
    </div>
    <div class="col-sm-4 bg-warning text-white my-auto" >
        <h1 align="center">Gold</h1>
                       <ul class="list-group   bg-warning text-white">
  <li class="list-group-item   bg-warning text-white">Cras justo odio</li>
  <li class="list-group-item  bg-warning text-white">Dapibus ac facilisis in</li>
  <li class="list-group-item  bg-warning text-white">Morbi leo risus</li>
  <li class="list-group-item  bg-warning text-white">Porta ac consectetur ac</li>
  <li class="list-group-item   bg-warning text-white">Vestibulum at eros</li>
   <li class="list-group-item bg-warning text-white text-center"><a id = "gold" class="btn btn-success buyTokens" href="#" role="button">Buy</a></li>
</ul>
    </div>
    <div class="col-sm-4  text-white" style="background-color: #007F7A;">
        <h1 align="center">Platinum</h1>
             <ul class="list-group   text-white">
  <li class="list-group-item   text-white" style="background-color: #007F7A; ">Cras justo odio</li>
  <li class="list-group-item  text-white" style="background-color: #007F7A; ">Dapibus ac facilisis in</li>
  <li class="list-group-item   text-white" style="background-color: #007F7A; ">Morbi leo risus</li>
  <li class="list-group-item   text-white" style="background-color: #007F7A; ">Porta ac consectetur ac</li>
  <li class="list-group-item    text-white " style="background-color: #007F7A; ">Vestibulum at eros</li>
    <li class="list-group-item text-white text-center" style="background-color: #007F7A; "><a  id = "platinum"class="btn btn-success buyTokens" href="#" role="button">Buy</a></li>
</ul>
        
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-xl-4">
        <script src="https://www.paypal.com/sdk/js?client-id=AYnBe8PZFHQxCOdFZA2blUNywn3rNoRL8Qe3CUJ_el6Ktyw51tZ5kLH8_hrl0Gy7dzvy0gGJYe9ytAZD"></script>
        <div id="paypal" style="width:225px"></div>
    </div>
 
</div>